<h1> About Us </h1>

<p>
<%= @about_me %>
</p>
<p>
<%= @answer%>
</p>

This is an example app I made in Ruby/Rails to get more familiar with the tech stach. 
<br>
I'm following along a YouTube tutorial from last year, and most things that he talks about are still current.